.missions {
  display: flex;
  flex-direction: column;
}

.titles {
  display: flex;
  font-weight: bold;
}

.row {
  display: flex;
  font-size: 0.813rem;
}

.cell {
  border: 1px solid rgb(226, 226, 226);
}

.MissionName {
  font-size: 1rem;
  font-weight: bold;
}

.column1 {
  padding: 10px;
  width: 15%;
}

.column2 {
  padding: 10px;
  width: 65%;
}

.MissionDesc {
  font-size: 0.7rem;
}

.column3 {
  padding: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column4 {
  padding: 10px;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ActiveMember {
  border: 1px solid rgb(95, 177, 192);
  border-radius: 5px;
  background-color: rgb(95, 177, 192);
  padding: 5px;
  color: white;
}

.LeaveMission {
  border: 1px solid red;
  border-radius: 2px;
  background-color: white;
  padding: 5px;
  color: red;
  cursor: pointer;
}
