.rocket-card {
  display: flex;
}

.img-rocket {
  width: 210px;
  height: 155px;
}

.name-rocket {
  font-size: 16px;
  font-weight: bolder;
}

.info-rocket {
  font-size: 12px;
}

.reserve-rocket {
  font-size: 12px;
  background-color: #007bff;
  border-radius: 4px;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
