.rocket-card {
  display: flex;
  margin-bottom: 15px;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.img-rocket {
  width: 206px;
  height: 155px;
}

.rocket-div {
  margin-left: 15px;
}

.name-rocket {
  font-size: 16px;
  font-weight: bolder;
  margin-top: 0;
}

.info-rocket {
  font-size: 12px;
}

.reserve-rocket {
  font-size: 12px;
  background-color: #007bff;
  border-radius: 4px;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
